<h2>Membership Table</h2>
<a href="<%=`/memberships/new` %>"> <Button class="btn btn-primary mt-3 mb-3">Create Membership</Button></a>
<table class="table">
  <thead>
    <tr>
      <th>Type</th>
      <th>Duration</th>
      <th>Price</th>
    </tr>
  </thead>
  <tbody>
    <% memberships.forEach(membership => { %>
    <tr>
      <td><a href="<%= `/memberships/${membership._id}`%>"><%= membership.type %></a></td>
      <td><%= membership.duration %></td>
      <td><%= membership.price %></td>
      <td>
        <a href="<%=`/memberships/${membership._id}/edit` %>"> Edit </a>
      </td>
      <td>
        <a
          href="<%= `memberships/${membership._id}/delete?_method=DELETE` %>"
          onclick="return confirm('Are you sure you want to delete this membership?')"
          >Delete</a
        >
      </td>
    </tr>
    <% }); %>
  </tbody>
</table>