<h1>Event Data for <%= event.name %></h1>
<table>
  <tr>
    <th>Name</th>
    <td><%= event.name %></td>
  </tr>
  <tr>
    <th>Description</th>
    <td><%= event.description %></td>
  </tr>
  <tr>
    <th>Date</th>
    <td><%= event.date %></td>
  </tr>
  <tr>
    <th>Location</th>
    <td><%= event.location %></td>
  </tr>


</table>

<div>
  <a href="/events">View all Events</a>
</div>
<div>
  <a href="<%=`/events/${event._id}/edit`%>">Edit Event</a>
</div>
<div>
  <a href="<%= `/events/${event._id}/delete?_method=DELETE` %>" onclick="return confirm('Are you sure you want to delete this event?')">Delete</a>